.stacks {
/*  display: table-cell;
  text-align: bottom;*/
  width: 500px;
}

.stack{
  border: 2px solid black;
  display: inline-block;
  width: 200px;
  height:200px;
}

.stack div{
  height: 150px;
/*  background-color: blue;*/
  border: 2px solid black;
  height: 40px;
  margin: 0 auto;
}

#s3 {
  background-color: red;
  width: 200px;
}

#s2 {
  background-color: blue;
  width: 150px;
/*  height: 20px;*/
}

#s1 {
  background-color: green;
  width: 100px;
/*  height: 20px;*/
}
